#map {
	position: relative;
	top: 62px;
	width: 100%;
	/*height: calc(100vh - 212px);*/
	height: calc(100vh - 60px);
}
#legend-arrow {
	position: absolute;
	display: block;
	top: -35px;
	left: calc(50% - 30px);
	width: 0px;
	height: 0px;
	border-left: 30px solid transparent;  /* left arrow slant */
	border-right: 30px solid transparent; /* right arrow slant */
	border-bottom: 20px solid #000;
}
#legend-arrow:hover {
	cursor: pointer;
}
.interact {
	font-family: 'Graphik-Semibold', sans-serif;
	text-transform: uppercase;
	text-shadow: 2px 2px 4px #fff;
}
#show-hide {
	position: absolute;
	top: -30px;
	left: calc(50% + 35px);
}
.open {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
#map-legend {
	position: absolute;
	right: 0px;
	bottom: -6px;
	width: calc(100% - 12px);
	font-family: 'Graphik-Regular', sans-serif;
	font-size: 0.8em;
	text-align: left;
	background: #fff;
	border: solid 6px #000;
	z-index: 3;
}
#legend-daytime {
	position: relative;
	float: left;
	margin: 20px 30px 0px;
	width: auto;
	height: auto;
}
#legend-daytime h3 {
	position: relative;
	float: left;
	width: auto;
	margin: 0px;
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 1.5em;
}
#legend-day {
	position: relative;
	float: left;
	margin-left: 30px;
	width: auto;
	height: auto;
}
.day-toggle {
	position: relative;
	display: inline-block;
	float: left;
	width: auto;
	height: 1em;
	padding: 5px 9px;
	font-family: 'Graphik-Semibold', sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	border: solid 4px;
}
.day-toggle:hover, .time-toggle:hover, .month-toggle:hover {
	cursor: pointer;
}
#day-wd {
	color: #000;
	background: #fff;
	border-color: #000;
}
#day-we {
	color: #333;
	background: #ccc;
	border-color: #ccc;
}
#legend-time {
	position: relative;	
	width: 100%;
	min-width: 320px;
	height: 60px;
	margin-top: 35px;
}
#legend-time ul {
	position: relative;
	padding: 0px;
	list-style: none;
	display: inline;
}
#legend-time ul li {
	position: relative;
	float: left;
	list-style: none;
	display: block;
}
.time-label {
	position: absolute;
	top: 24px;
	left: -4px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.time-label::before {
	position: absolute;
	display: block;
	content: "";
	top: -8px;
	left: calc(50% - 4px);
	width: 0; 
	height: 0; 
	border-left: 4px solid transparent;  /* left arrow slant */
	border-right: 4px solid transparent; /* right arrow slant */
	border-bottom: 4px solid #000;
}
#time-label-24 {
	left: 0px;
	margin-top: 39px;
}
.time-toggle {
	width: calc(25% - 8px);
	height: 10px;
	margin-top: 25px;
	background: #ccc;
	border: 4px solid #ccc;
	border-top: none;
}
.time-toggle h4 {
	position: absolute;
	width: 100%;
	top: -35px;
	padding: 9px 0px;
	height: 10px;
	font-family: 'Graphik-Semibold', sans-serif;
	font-size: 1em;
	text-align: center;
	display: none;
}
.selectedtime {
	background: #fff;
	border-color: #000;
}
.selectedtime::before {
	position: absolute;
	display: block;
	content: "";
	top: -20px;
	left: -4px;
	width: 100%; 
	height: 20px;
	background: #fff;
	border: 4px solid #000;
	border-bottom: none;
	/*border-left: 2px solid #000;
	border-right: 2px solid #000;*/
}
.selectedtime h4 {
	display: block;
}
#legend-month {
	position: relative;
	float: left;
	width: auto;
	height: auto;
	margin: 20px 30px 0px;
}
.month-toggle {
	position: relative;
	display: inline-block;
	float: left;
	height: auto;
	width: auto;
	width: 278px;
	padding: 10px;
	font-family: 'Graphik-Semibold', sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	border: solid 4px #000;
}
#month-mar {
	left: -6px;
	color: #000;
	background: #fff;
}
#month-feb {
	color: #000;
	background: #fff;
}
.month-toggle img {
	position: relative;
	float: left;
	max-width: 100px;
}
.month-toggle p {
	position: relative;
	float: left;
	text-align: right;
	width: calc(100% - 110px);
	max-width: 170px;
	min-width: 163px;
	margin: 0px 0px 0px 10px;
}
.lockdown-week {
	display: inline-block;
	margin-top: 0.5em;
}
#cuebiq {
	position: relative;
	clear: both;
	top: 0.5em;
	width: calc(100% - 6px);
	font-family: 'Graphik-Semibold', sans-serif;
	text-align: right;
}
.selectedday, .selectedtime, .selectedmonth {
	z-index: 4;
	box-shadow: 2px 2px 6px rgba(0,0,0,.5);
}
.mapboxgl-popup-content {
	width: 340px;
	min-width: 340px;
	padding: 15px 15px;
	border-radius: 10px;
	text-align: left;
	box-shadow: 2px 2px 6px rgba(0,0,0,.5);
}
.labelplacedate, .labelchange {
	position: relative;
	width: 100%;
	height: auto;
	overflow: auto;
}
.labelstreet {
	width: 100%;
	margin: 0px 0px 0.125em;
	padding-top: 0.25em;
	font-family: 'Graphik-Semibold', sans-serif;
	font-size: 3em;
	line-height: 1em;
}
.labelplacedate p {
	margin: 0px;
	font-family: 'Graphik-Bold', sans-serif;
	font-size: 1.25em;
	text-transform: uppercase;
	color: #8c8c8c;
}
.labelchange {
	margin-top: 10px;
}
.labelscore {
	position: relative;
	float: left;
	width: calc(100% - 225px);
	height: auto;
}
.labelscore span {
	position: relative;
	display: inline-block;
	float: left;
	width: 100%;
	text-align: center;
}
.labelscore .data1 {
	line-height: 1em;
}
.labelscore .labeldecinc {
	font-family: 'Graphik-Semibold', sans-serif;
	font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	top: -6px;
}
.labelchange .labelfoottraffic {
	float: left;
	width: 215px;
	margin: 0px 0px 0px 10px;
	font-family: 'Graphik-Bold', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 1.375em;
}

@media print, screen and (min-width: 64em) {
	#map {
		top: 70px;
		/*height: calc(100vh - 222px);*/
		height: calc(100vh - 70px);
	}
}
@media print, screen and (max-width: 1335px) {
	header {
		height: 50px;
	}
	.h3 {
		font-size: 24px;
		line-height: 30px;
		letter-spacing: -0.5px;
	}
	#nav ul ul {
		top: 30px;
	}
	#project-description {
		max-height: calc(100vh - 88px);
	}
	#map {
		top: 60px;
		/*height: calc(100vh - 212px);*/
		height: calc(100vh - 60px);
	}
}
@media print, screen and (max-width: 1100px) {
	header {
		min-width: 550px;
	}
	#project-title {
		min-width: 544px;
	}
	#nav {
		width: calc(100% - 544px);
		min-width: 90px;
	}
}

@media print, screen and (min-width: 1050px) {
	#map-legend {
		height: 140px;
	}
	#legend-daytime {
		width: calc(100% - 736px);
		min-width: 422px;
	}
	#legend-daytime h3 {
		width: calc(100% - 207px);
		font-size: 1.25em;
		height: 3em;
	}
	#legend-day {
		margin-bottom: 18px;
	}
	#cuebiq {
		top: 2.6em;
	}
}
@media print, screen and (min-width: 1050px) and (max-width: 1169px) {
	#legend-month {
		width: calc(100% - 542px);
	}
	.month-toggle {
		width: calc(50% - 28px);
	}
	.month-toggle img {
		position: absolute;
		width: calc(100% - 185px);
	}
	.month-toggle p {
		float: right;
	}
}
@media print, screen and (min-width: 940px) and (max-width: 1049px) {
	#map-legend {
		height: 140px;
	}
	#legend-daytime {
		width: calc(100% - 736px);
		min-width: 422px;
	}
	#legend-daytime h3 {
		width: calc(100% - 207px);
		font-size: 1.25em;
		height: 3em;
	}
	#legend-day {
		margin-bottom: 18px;
	}
	#legend-month {
		width: calc(100% - 542px);
	}
	.month-toggle {
		width: calc(50% - 28px);
		height: 62px;
	}
	.month-toggle img {
		position: relative;
		float: none;
		height: 24px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		margin-bottom: 0.5em;
	}
	.month-toggle p {
		float: none;
		width: 100%;
		margin: auto;
		text-align: center;
	}
	.lockdown-week {
		margin-top: 0px;
	}
}
@media screen and (max-width: 939px) {
	#map {
		/*height: calc(100vh - 312px);*/
		height: calc(100vh - 60px);
	}
	#map-legend {
		width: calc(100% - 12px);
		height: 240px;
	}
	#legend-daytime {
		width: calc(100% - 66px);
		margin-bottom: 15px;
	}
	#legend-daytime h3 {
		width: calc(100% - 207px);
		font-size: 1.25em;
		height: 3em;
	}
	#legend-day {
		margin-bottom: 18px;
	}
	#time-label-24 {
		margin-top: 39px;
	}
	#legend-month {
		width: calc(100% - 60px);
	}
	.month-toggle {
		width: calc(50% - 28px);
	}
	.month-toggle img {
		position: absolute;
		width: calc(100% - 185px);
	}
	.month-toggle p {
		float: right;
	}
}