#nav {
	left: -17px;
}
#map {
	position: relative;
	top: 46px;
	width: 100%;
}
#map-legend {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: calc(100% - 6px);
	font-family: 'Graphik-Regular', sans-serif;
	font-size: 0.8em;
	text-align: left;
	background: #fff;
	border: solid 3px #000;
	z-index: 3;
}
#legend-daytime {
	position: relative;
	float: left;
	margin: 20px 30px 0px;
	width: auto;
	height: auto;
}
#map-legend h3 {
	position: relative;
	float: left;
	width: auto;
	margin: 0px;
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 1.5em;
}
#legend-day {
	position: relative;
	float: left;
	margin-left: 30px;
	width: auto;
	height: auto;
}
.day-toggle {
	position: relative;
	display: inline-block;
	float: left;
	width: auto;
	height: 1em;
	padding: 5px 10px;
	font-family: 'Graphik-Semibold', sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	border: solid 2px;
}
#day-wd {
	color: #000;
	background: #fff;
	border-color: #000;
}
#day-we {
	color: #333;
	background: #ccc;
	border-color: #ccc;
}
#legend-time {
	position: relative;	
	width: 100%;
	min-width: 320px;
	height: 60px;
	margin-top: 35px;
}
#legend-time ul {
	position: relative;
	padding: 0px;
	list-style: none;
	display: inline;
}
#legend-time ul li {
	position: relative;
	float: left;
	list-style: none;
	display: block;
}
.time-label {
	position: absolute;
	top: 22px;
	left: -2px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.time-label::before {
	position: absolute;
	display: block;
	content: "";
	top: -8px;
	left: calc(50% - 3px);
	width: 0; 
	height: 0; 
	border-left: 3px solid transparent;  /* left arrow slant */
	border-right: 3px solid transparent; /* right arrow slant */
	border-bottom: 3px solid #000;
}
#time-label-24 {
	left: 0px;
	margin-top: 27px;
}
.time-toggle {
	width: calc(25% - 4px);
	height: 10px;
	margin-top: 25px;
	background: #ccc;
	border: 2px solid #ccc;
	border-top: none;
}
.time-toggle h4 {
	position: absolute;
	width: 100%;
	top: -35px;
	padding: 9px 0px;
	height: 10px;
	text-align: center;
	display: none;
}
.selectedtime {
	background: #fff;
	border-color: #000;
}
.selectedtime::before {
	position: absolute;
	display: block;
	content: "";
	top: -20px;
	left: -2px;
	width: 100%; 
	height: 20px;
	background: #fff;
	border: 2px solid #000;
	border-bottom: none;
	/*border-left: 2px solid #000;
	border-right: 2px solid #000;*/
}
.selectedtime h4 {
	display: block;
}
#legend-month, #legend-dot {
	position: relative;
	float: left;
	height: 100%;
	margin: 30px 30px 0px;
}
#legend-month {
	width: auto;
	padding-top: 10px;
	height: calc(100% - 10px);
}
#legend-month {
	margin-left: 30px;
}
.month-toggle {
	position: relative;
	display: inline-block;
	float: left;
	height: 2em;
	width: auto;
	max-width: 62px;
	padding: 10px;
	font-family: 'Graphik-Medium', sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	text-align: center;
	border: solid 2px #000;
}
.month-toggle:hover, .day-toggle:hover, .time-toggle:hover {
	cursor: pointer;
}
#month-mar {
	left: -3px;
	color: #fff;
	background: #000;
}
#month-feb {
	color: #fff;
	background: #000;
}
#legend-dot {
	position: relative;
	float: left;
	min-width: 260px;
}
#legend-dot ul {
	position: relative;
	margin: 0px;
	padding: 0px;
	list-style: none;
	top: -10px;
}
#legend-dot ul li {
	list-style: none;
	display: inline-block;
	width: 100%;
	margin-bottom: 0.5em;
	text-align: left;
}
#legend-dot ul li p {
	position: relative;
	float: left;
	width: calc(100% - 25px);
	margin: 0px 0px 0px 10px;
}
.dot {
	position: relative;
	float: left;
	display: inline-block;
	top: 0.16em;
	width: 1em;
	height: 1em;
	border-radius: 50%;
}
#feb {
	background: #004ca8;
}
#mar {
	background: #ff00c3;
}
#star {
	position: relative;
	float: left;
	display: inline-block;
	top: 0.16em;
	width: 1em;
	height: 1em;
	text-align: center;
}
.mapboxgl-popup-content {
	width: 305px;
	padding: 15px 15px;
	border-radius: 10px;
	text-align: left;
}
.labelplacedate, .labelchange, .labelavg, .labelavgchange {
	position: relative;
	width: 100%;
	height: auto;
	overflow: auto;
}
.labelstreet {
	float: left;
	width: calc(100% - 145px);
	margin: 0px;
	padding-top: 0.5em;
	font-family: 'Graphik-Bold', sans-serif;
	font-size: 1.2em;
}
.labelday, .labeltime {
	float: left;
	font-family: 'Graphik-Regular', sans-serif;
	text-transform: uppercase;
	padding-top: 0.5em;
	margin-left: 10px;
	padding-top: 0.5em;
}
.labelday {
	width: 55px;
}
.labeltime {
	width: 70px;
}
.labelchange .data1 {
	float: left;
	width: calc(100% - 165px);
	margin-top: 0.5em;
	text-align: center;
}
.labelchange .labelfoottraffic {
	float: left;
	width: 145px;
	margin: 0.5em 10px 0.5em;
	font-family: 'Graphik-Medium', sans-serif;
}
.labelavgchange {
	min-height: 1em;
	border-top: solid 1px #8c8c8c;
	margin-top: 0.25em;
	padding-top: 0.25em;
}
.labelavg span {
	display: inline-block;
	float: left;
	font-family: 'Graphik-Semibold', sans-serif;
	font-size: 0.8em;
	text-align: center;
	line-height: 2.5em;
	width: 2.5em;
	height: 2.5em;
	margin: 0.4em 10px 0px;
	padding: 2px;
	color: #fff;
	border-radius: 50%;
}
.labelavgchange span {
	float: left;
	width: 48px;
	font-family: 'Graphik-Bold', sans-serif;
	font-size: 1.25em;
	text-align: center;
}
.labelavg p, .labelavgchange p {
	float: left;
	width: 255px;
}
.labelavg p {
	margin: 0.5em 0px 0.5em;
}
.labelavgchange p {
	margin: 0px;
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 1.09em;
}

@media screen and (min-width: 1312px) {
	#map {
		height: calc(100vh - 172px);
	}
	#map-legend {
		height: 130px;
	}
	#legend-dot {
		width: 420px;
	}
}
@media screen/* and (min-width: 1184px)*/ and (max-width: 1311px) {
	#map {
		height: calc(100vh - 192px);
	}
	#map-legend {
		height: 140px;
	}
	#legend-dot {
		width: calc(100% - 886px);
	}
}
@media screen and (max-width: 1183px) {
	
}