#chart-overall {
	position: relative;
	float: left;
	margin: calc(10vh + 40px) 5vw 0px 10vw;
}
#chart-profile {
	position: relative;
	margin: calc(10vh + 40px) 20px 0px 20px;
	float: left;
}
#chart-neighborhoods {
	position: relative;
	float: left;
	margin: 60px 20px 0px 20px;
	height: calc(100vh - 80px);
	overflow: hidden auto;
}
#chart-neighborhoods svg {
	position: relative;
	float: left;
	margin: 0px 1.5%;
}
#chart-overall>svg>.section>.categorysection:hover {
	fill-opacity: 0.5;
}
.labelcategory {
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 0.4em;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.labelfeature {
	font-family: 'Graphik-Regular', sans-serif;
	font-size: 0.375em;
}
.labelprofile {
	font-family: 'Graphik-Semibold', sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
.labelneighborhood {
	font-family: 'Graphik-Regular', sans-serif;
	font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#tooltipcity {
	position: relative;
	float: left;
	margin: 120px 20px 0px 20px;
	width: 385px;
	height: calc(100vh - 80px);
	height: auto;
	text-align: left;
	overflow: hidden auto;
}
#tooltipcity div.feature {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 10px 0px 10px 0px;
}
#tooltipcity p {
	position: relative;
	float: left;
	width: 280px;
	margin-top: 3px;
	font-size: 0.9em;
	line-height: 1.2em;
	color: #000;
}
#tooltipcity #socioecoHighSchool, #tooltipcity #healthMedCare, #tooltipcity #healthFluVacc {
	width: 250px;
}
#tooltipcity #homePedInjury, #tooltipcity #homeBodega, #tooltipcity #healthChildObesity {
	width: 290px;
}
#tooltipcity .category {
	position: relative;
	display: block;
	margin-left: 95px;
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#tooltipcity .data1 {
	float: left;
	width: 85px;
	margin-right: 10px;
	font-size: 2.5em;
	text-align: right;
}
#tooltipcity .location {
	text-transform: uppercase;
}
#tooltipcity .feature-name {
	font-family: 'Graphik-Semibold', sans-serif;
	text-transform: uppercase;
}
#tooltipborough {
	position: absolute;
	margin: 0;
	padding: 10px;
/*	min-height: 170px;
	width: 400px;*/
	color: #fff;
	background: #aaa;
}
#tooltipneighborhood {
	position: absolute;
	margin: 0;
	width: 235px;
	padding: 15px;
	background: #fff;
	border: solid 3px #000;
	border-radius: 15px;
}
#tooltipneighborhood p {
	font-size: 0.9em;
	line-height: 1.2em;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000;
}
#tooltipneighborhood p.avg {
	margin-top: 1em;
	font-size: 0.8em;
}
#tooltipneighborhood b, #tooltipneighborhood span.location {
	font-family: 'Graphik-Bold', sans-serif;
	text-transform: uppercase;
}
svg.selected {
	background: #efefef;
}
svg.selected>g>circle {
	stroke: #aaa;
}
svg.selected>g>line {
	stroke: #aaa;
}

/*wide screen ratio*/
@media screen and (min-aspect-ratio: 16/9) {
	#chart-overall, #chart-profile, #chart-overall {
		max-height: 80vh;
		width: 40%;
		margin-top: calc(4vh + 40px);
	}
	#chart-neighborhoods {
		width: calc(60% - 80px);
	}
	#chart-neighborhoods svg {
		width: 22%;
	}
}
/*typical landscape screen ratio*/
@media screen and (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9) {
	#chart-overall, #chart-profile, #chart-overall {
		max-height: 80vh;
		width: 45%;
		margin-top: calc(6vh + 40px);
	}
	#chart-neighborhoods {
		width: calc(55% - 80px);
	}
	#chart-neighborhoods svg {
		width: 30%;
	}
}
/*typical landscape screen ratio*/
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 3/2) {
	#chart-overall, #chart-profile, #chart-overall {
		max-height: 80vh;
		width: 55%;
		margin-top: calc(6vh + 40px);
	}
	#chart-neighborhoods {
		width: calc(45% - 80px);
	}
	#chart-neighborhoods svg {
		width: 45%;
	}
}
/*portrait screen ratio*/
@media screen and (max-aspect-ratio: 1/1) {
	#chart-overall, #chart-profile, #chart-overall {
		height: auto;
		width: 80vw;
	}
	#chart-neighborhoods {
		width: 80vw;
	}
	#chart-neighborhoods svg {
		width: 30%;
	}
}