/* d3 */

text {
  font-family: 'Graphik-Medium', sans-serif;
  font-size: 0.5rem;
}


.topic {
  font-family: 'Graphik-Bold', sans-serif;
}

.yeartext {
  fill: rgb(32, 32, 32);
  font-family: 'Graphik-Semibold', sans-serif;
  font-size: 0.7rem;
}

.topictext {
  fill: rgb(32, 32, 32);
  font-family: 'Graphik-Semibold', sans-serif;
  font-size: 0.7rem;
}


.tooltip {
  position: absolute;
  text-align: center;
  padding: .6rem;
  background: #FFFFFF;
  color: #313639;
  border: 0.7px solid #313639;
  pointer-events: none;
  font-size: 0.8rem;
}


#chart{
  height:inherit;
  margin-left:50px;
}


/* html */
.btns {
  border: 1px solid #000;
  padding: 0.7rem 1rem;
  background: #fff;
  color: #000;
  font-size: 0.7rem;
  width: inherit;
  cursor: pointer;
  margin-right:-5px;
}

.active,
.btns:hover {
  background-color: #000;
  color: #fff;
}


#project-description {
  top: 0px;
}

#buttons{
  margin-top: 60px ;
margin-right:5%;
 
}


#project-title {
  min-width: 100%
}

#header{
  min-width: 0px;
}