/* d3 */

text {
  font-family: 'Graphik-Semibold', sans-serif;
  font-size: 1rem;
}


.topic {
  font-family: 'Graphik-Semibold', sans-serif;
  font-size: 0.9rem;
}

.yeartext {
  fill: rgb(32, 32, 32);
  font-family: 'Graphik-Semibold', sans-serif;
  font-size: 0.9rem;
}

.topictext {
  fill: rgb(32, 32, 32);
  font-family: 'Graphik-Semibold', sans-serif;
  font-size: 0.95rem;
  letter-spacing: -0.4px;
}


.tooltip {
  position: absolute;
  text-align: center;
  padding: .6rem;
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #313639;
  pointer-events: none;
  font-size: 0.9rem;
}


#chart {
  height: inherit;
  /* margin-left: 50px; */
}

#hrtopic {
  /* margin-top: 0;
  margin-bottom: 0; */
  width: 90%;
  margin: 8px;
  background-color: #000;
  border: none;
  height: 1px;
}

/* html */
hr {
  background-color: rgb(194, 194, 194);
  border: none;
  height: 1px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.btns {
  padding: 0.8rem;
  font-family: 'Graphik-Semibold', sans-serif;
  background: transparent;
  color: #000;
  width: inherit;
  cursor: pointer;
  border: solid #000 2px;
  font-size: 0.9rem;
}

.active,
.btns:hover {
  background: black;
  color: white;
}

.buttonbox {
  float: right;
  margin-top: 0;
}

.topbar {
  padding-top: 110px;
  margin: 0 auto;
  max-width: 1200px;
}

.textbox {
  text-align: left;
  display: inline-block;
  width: 70%;
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-family: 'Graphik-Semibold', sans-serif !important;
}
#project-title{
  width: 75% !important;
}
#project-description {
  width: 65%;
}
@media only screen and (max-width: 1366px) {
  .topbar {
    max-width: 1000px;
  }

  .textbox {
    width: 600px;
  }

  #chart {
    margin-left: 40px;
  }
  #project-title{
    width: 88% !important;
  }
  #project-description {
    width: 55%;
  }
}

@media only screen and (max-width: 1024px) {
  .topbar {
    max-width: 700px;
  }

  .textbox {
    width: 380px;
  }

  .buttonbox {
    margin-top: 20px;
  }
  #project-title{
    width: 90% !important;
  }
  
  .h3 {
    font-size: 24px;
    margin-top:-2px;
}
}

@media only screen and (max-width: 768px) {
  .topbar {
    padding-top: 100px;
    max-width: 400px;
  }

  .textbox {
    width: 350px;
    margin: 0 auto;
    float: none;
    display: table;
    padding: 2px;
  }

  .buttonbox {
    margin: 0 auto;
    float: none;
    display: table;
    padding-top: 15px;
    padding-bottom: 0;
  }

  #chart {
    margin-left: 5px;
  }

  .topictext {
    font-size: 0.82rem;
  }
  .h3 {
    letter-spacing:-1.5px;
    line-height: 20px;
    margin-top:-2px;
}  
#project-title{
  width: 100% !important;
}
#project-description {
  width: 95%;
}
}
/*header style*/
@media print, screen and (max-width: 1116px) {
	header {
		height: 58px;
	}

	#project-description {
		max-height: calc(100vh - 88px);
	}
}
@media print, screen /*and (min-width: 723px)*/ and (max-width: 904px) {
	header {
		min-width: 350px;
	}
	#project-title {
		min-width: 350px;
	}

}