/* d3 */

text {
  font-family: 'Graphik-Medium', sans-serif;
  font-size: 0.5rem;
}


.topic {
  font-family: 'Graphik-Bold', sans-serif;
}

.yeartext {
  fill: rgb(32, 32, 32);
  font-family: 'Graphik-Semibold', sans-serif;
  font-size: 0.7rem;
}

.topictext {
  fill: rgb(32, 32, 32);
  font-family: 'Graphik-Semibold', sans-serif;
  font-size: 0.7rem;
}


.tooltip {
  position: absolute;
  text-align: center;
  padding: .6rem;
  background: #FFFFFF;
  color: #313639;
  border: 0.7px solid #313639;
  pointer-events: none;
  font-size: 0.8rem;
}


#chart {
  height: inherit;
  margin-left: 50px;
}


/* html */
hr {
  background-color: rgb(194, 194, 194);
  border: none;
  height: 1px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.btns {
  padding: 0.5rem 0.8rem;
  font-size: 0.7rem;
  background: transparent;
  color: #000;
  width: inherit;
  cursor: pointer;
  border: solid #777 1px;
}

.active,
.btns:hover {
  background: black;
  color: white;
}


#project-description {
  top: 0px;
}



#project-title {
  min-width: 100%
}

#header {
  min-width: 0px;
}

.buttonbox {
  float: right;
  margin-top: 0;
}

.topbar {
  padding-top: 80px;
  margin: 0 auto;
  max-width: 1000px;
}

.textbox {
  text-align: left;
  font-size: 0.9rem;
  display: inline-block;
  width: 70%;
  margin-bottom: 15px;
}


@media only screen and (max-width: 1100px) {
  .topbar {
    max-width: 750px;
  }

  .textbox {
    width: 400px;
    margin-top: -8px;
  }
}

@media only screen and (max-width: 820px) {
  .topbar {
    padding-top: 80px;
    max-width: 400px;
  }

  .textbox {
    width: 350px;
    margin: 0 auto;
    float: none;
    display: table;
  }

  .buttonbox {
    margin: 0 auto;
    float: none;
    display: table;
    padding-top: 15px;
    padding-bottom: 0;
  }

  #chart {
    margin-left: 20px;
  }
}