body {
	overflow: hidden auto;
}
#chart-rentburden {
	position: relative;
	width: 100%;
	max-height: 85vh;
	margin-top: 60px;
}
.box {
	width: 100%;
	height: auto;
	/*position: relative;
	float: right;
	width: 100%;
	top: 90px;*/
}
.axis {
	font-size: 12px;
	font-family: 'Graphik-Regular', sans-serif;
	color: black;
}
.axislabel {
	font-size: 12px;
	font-family: 'Graphik-Bold', sans-serif;
	color: black;
}
.statstitle {
	font-size: 1em;
	font-family: 'Graphik-Bold', sans-serif;
	fill: white;
}
.statsaccent {
	font-size: 10px;
	font-family: 'Graphik-Semibold', sans-serif;
	fill: white;
}
.stats {
	font-size: 11px;
	font-family: 'Graphik-Regular', sans-serif;
	color: white;
	fill: white;
	position: absolute;
	z-index: 1;
	line-height: 1em;
}
.tooltip {
	position: absolute;
	bottom: 3%;
	z-index: 1;
	visibility: hidden;
	padding: 5px;
	font-family: 'Graphik-Bold', sans-serif;
	font-size: 16px;
}
.tooltip2 {
	position: absolute;
	z-index: 1;
	visibility: hidden;
	background: white;
	opacity: 0.9;
	padding: 8px;
	font-family: 'Graphik-Regular', sans-serif;
	font-size: 11px;
	color: black;
	line-height: 1.1em;
	border-radius: 8px;
	width: 210px;
}
.tooltippercent {
	font-family: 'Graphik-Bold', sans-serif;
}

.ttp {
	font-family: 'Graphik-Bold', sans-serif;
	padding-top: 1em;
	float: left;
	margin: 0px 0px 0px 2px;
	height: 100%;
	width: 95%;
}

.ttp .ttplabel{
	width: 100%;
	color: black;
}

.ttp .ttpbar{
	padding-top: 0.2em;
	padding-bottom: 0.3em;
	float: left;
	width: 100%;
	color: white;
	font-size: 11px;
	text-align: right;  
	vertical-align: middle;
	line-height: 0.7em;
}

.ttp .barmore{
	padding-top: 0.2em;
	float: left;
	background-color: red;
	width: 50%;
	text-align: left;  
	vertical-align: middle;
	line-height: 0.7em;
}

.ttp .barlabel{
	color: black;
	text-align: center;
	font-size: 9px;
	font-family: Graphik-Bold;
}

/*profile borough style*/
#high-rent .h4 {
	margin: 20vh auto 10px auto;
}
#profile-borough {
	position: relative;
	margin: auto;
	width: 80%;
}
.avg-circle {
	position: relative;
	float: left;
	width: 18%;
	height: auto;
	margin: 0px 1%;
	top: 0px;
}
.avg-circle .h6 {
	position: relative;
	top: 0px;
}
.avg-circle img {
	top: 30px;
}
.avg-circle p {
	display: block;
	font-size: 1em;
}
/*splash page text graphics*/
@media screen and (max-width: 1446px) {
	.avg-circle p {
		font-size: 0.8em;
	}
}
@media screen and (max-width: 1115px) {
	.avg-circle .h6 {
		margin-bottom: 1.25em;
	}
	#h6-si {
		margin-bottom: 0px;
	}
}
@media screen and (max-width: 933px) {
	#high-rent .h4 {
		font-size: 2.5em;
	}
	#high-rent .h5 {
		font-size: 1.25em;
	}
	#profile-borough {
		width: 96%;
	}
	.avg-circle .h6, .avg-circle .data3, #h6-si {
		font-size: 1em;
		margin-bottom: 1em;
	}
}
@media screen and (max-width: 749px) {
	#h6-si {
		margin-bottom: 0px;
	}
}
@media screen and (max-width: 630px) {
	#high-rent .h4 {
		font-size: 2em;
	}
	#high-rent .h5 {
		font-size: 1em;
	}
	.avg-circle .h6, .avg-circle .data3, #h6-si {
		font-size: 0.7em;
		margin-bottom: 0.7em;
	}
}
@media screen and (max-width: 529px) {
	#h6-si {
		margin-bottom: 0px;
	}
}
/* svg aspect ratio*/
@media screen and (min-aspect-ratio: 3/2) {
	#chart-rentburden {
		height: 83vh;
		width: auto;
	}
	.box {
		height: 100%;
		width: auto;
	}
	.tooltip {
		bottom: 2.75%;
	}
}
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 4/3) {
	#chart-rentburden {
		top: 10vh;
	}
}
@media screen and (max-aspect-ratio: 1/1) {
	#chart-rentburden {
		top: calc(15vh + 60px);
	}
	.tooltip {
		bottom: 2%;
	}
}
/*header style*/
@media print, screen and (min-width: 64em) {
	#chart-rentburden {
		margin-top: 72px;
	}
}
@media print, screen and (max-width: 1144px) {
	header {
		height: 50px;
	}
	.h3 {
		font-size: 24px;
		line-height: 30px;
		letter-spacing: -0.5px;
	}
	#nav ul ul {
		top: 30px;
	}
	#project-description {
		max-height: calc(100vh - 100px);
	}
}
@media print, screen and (max-width: 939px) {
	header {
		min-width: 460px;
	}
	#project-title {
		min-width: 460px;
	}
	#project-description{
		width:calc(100vw - 47px);
	}
	#nav {
		width: calc(100% - 460px);
		min-width: 288px;
	}
	#nav ul ul {
		left: calc(100vw - 1138px);
	}
}
@media print, screen and (max-width: 889px) {
	#nav #city {
		display: none;
	}
}
@media print, screen and (max-width: 789px) {
	#nav #nav-borough {
		display: none;
	}
		
	.h3 {
		line-height: 20px !important;
		margin-top: -2px;
	}

	header {
		height: 58px;
		min-width: 350px;
	}
	#project-title {
		min-width: 360px;
	}
	#project-description {
		width: calc(100vw - 32px);
	}

}

