#map {
	position: relative;
	top: 60px;
	width: 100%;
	height: calc(100vh - 60px);
}
#map-legend {
	position: absolute;
	bottom: -6px;
	right: 0px;
	font-family: 'Graphik-Semibold', sans-serif;
	font-size: 1em;
	text-transform: uppercase;
	text-align: left;
	background: #fff;
	border: solid 6px #000;
	z-index: 3;
}
#map-legend ul {
	position: relative;
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline;
}
#map-legend ul li  {
	list-style: none;
	display: inline-block;
	min-width: 32px;
	padding: 10px 10px;
}
#map-legend .circle {
	position: relative;
	float: left;
	display: inline-block;
	top: 0.3em;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
}
#legend-nrb {
	background: #72daac;
}
#legend-rb {
	background: #5896b7;
}
#legend-srb {
	background: #3e52c2;
}
#map-legend ul li p {
	position: relative;
	float: left;
	margin: 0px 0px 0px 10px;
}
.legend-rent-percent {
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 0.7em;
}
.mapboxgl-popup-content {
	text-transform: uppercase;
	width: 230px;
	border-radius: 10px;
	font-family: 'Graphik-Regular', sans-serif;
	text-align: left;
	box-shadow: 2px 2px 6px rgba(0,0,0,.5);
}
.labelplace {
	position: relative;
	width: 100%;
	height: 70px;
	margin-left: 2%;
}
.labelplace p {
	position: relative;
	float: left;
	width: 68%;
	margin: 0px;
	line-height: 1.2em;
}
.labelpuma {
	font-family: 'Graphik-Bold', sans-serif;
	padding-top: 1em;
}
.labelborough {
	font-family: 'Graphik-Regular', sans-serif;
}
.circleborough {
	position: relative;
	width: 30%;
	height: auto;
}
.labelburdenpercent {
	position: relative;
	height: 45px;
	width: 100%;
	margin: 10px 0px 10px 2%;
}
.labelburdenpercent .data1 {
	position: relative;
	float: left;
	text-align: right;
	width: 36%;
	line-height: 1.4em;
	padding-top: 0.3em;
	color: #3d51c2;
}
.labelburdenpercent p {
	position: relative;
	float: left;
	text-align: left;
	width: 56%;
	margin: 0px 0px 8px 8%;
	font-family: 'Graphik-Bold', sans-serif;
	font-size: 1.1em;
	line-height: 1.2em;
	letter-spacing: 0.5px;
}
.labelburden {
	position: relative;
	float: left;
	width: 31%;
	text-align: center;
}
.labelburden .circle {
	position: relative;
	display: inline-block;
	top: 0.16em;
	width: 1em;
	height: 1em;
	border-radius: 50%;
}
.labelburden .data3 {
	font-size: 1.2em;
}

.labelburden .blockgroup {
	color: #3d51c2;
}
.mapboxgl-popup-content .labelburden:not(:last-child) {
	margin-right: 2%;
}
.labelburden p {
    margin: 0.5em 0px 0px 0px;
	font-size: 0.8em;
	line-height: 1.2em
}
/*header style*/
@media print, screen and (min-width: 1145px) /*(min-width: 64em)*/ {
	#map {
		top: 70px;
		height: calc(100vh - 70px);
	}
}
@media screen and (min-width: 767px) {
	#map-legend {
		width: auto;
		height: 54px;
	}
}
@media screen and (max-width: 766px) {
	#map-legend {
		width: 285px;
		height: auto;
		padding: 10px;
	}

	.h3 {
		line-height: 20px !important;
		margin-top: -2px;
	}

	header {
		height: 58px;
		min-width: 350px;
	}
	#project-title {
		min-width: 360px;
	}
	#project-description {
		width: calc(100vw - 32px);
	}

}

