#seats-main {
	height: calc(100vh - 60px);
	top: 60px;
}
#sidebar-count {
	position: relative;
	float: left;
	top: calc(100vh - 310px);
	width: 175px;
	/*min-width: 175px;*/
	padding: 0px 30px;
	text-align: left;
}
#map-cartogram {
	position: relative;
	float: left;
	width: calc(13/14.5 * (100vh - 60px));
	/*max-width: calc(100% - 600px);*/
	height: calc(100vh - 60px);
	overflow: hidden;
}
#open-seats-map {
	position: absolute;
	width: 100%;
	height: auto;
	top: calc(50% + 3px);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#seats-title {
	position: relative;
	display: inline-block;
	float: left;
	text-align: left;
	margin: 0px;
	padding: 2vh 20px;
}
.open-toggle {
	position: relative;
	display: inline-block;
	float: left;
	height: auto;
	width: calc(50% - 18px);
	margin-bottom: 15px;
	padding: 10px 5px;
	font-family: 'Graphik-Medium', sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	text-align: center;
	color: #333;
	background: #d1d3d4;
	border: solid 4px #d1d3d4;
	z-index: 2;
}
.open-toggle:hover {
	cursor: pointer;
}
.selectedseats {
	color: #000;
	background: #fff;
	border-color: #000;
	box-shadow: 2px 2px 6px rgba(0,0,0,.5);
	z-index: 3;
}
#sidebar-next {
	position: relative;
	float: left;
	width: 310px;
	min-width: 215px;
	height: calc(100% - 10px);
	margin: 10px 0px 0px 30px;
	text-align: left;
}
.seats-count-box {
	position: relative;
	width: 100%;
}
#next-shapes {
	position: relative;
	width: 100%;
	height: calc(100% - 60px);
	padding-right: 20px;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 3%;
	grid-row-gap: 0px;
	overflow: hidden auto;
}
.shape-box {
	position: relative;
	float: left;
	/*min-width: 100px;*/
	max-width: 142px;
}
.shape {
	width: 70%;
	height: auto;
	margin-bottom: 10px;
}
.shape-name {
	display: block;
	font-family: 'Graphik-Semibold', sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	min-height: 28px;
}
#compt {
	word-break: break-all;
}
#tooltip {
	position: absolute;
	margin: 0;
	padding: 10px;
	background: #fff;
	border: solid 2px #000;
	min-height: 170px;
	width: 400px;
	box-shadow: 2px 2px 6px rgba(0,0,0,.5);
}
.dataphoto {
	position: relative;
	min-height: 150px;
	width: 100px;
	float: left;
	overflow: hidden;
	margin: 10px;
}
.dataphoto img {
	position: absolute;
	height: 100%;
	width: auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.datatext {
	position: relative;
	display: block;
	margin: 10px 10px 10px 130px;
}
.labeldistrict {
	font-family: 'Graphik-Semibold', sans-serif;
	font-size: 1em;
}
.dataparty {
	height: 0.8em;
	width: 0.8em;
	margin: 0px 5px 0px 10px;
}
.Democratic {
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 0.9em;
	color: #1404bd;
}
.Republican {
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 0.9em;
	color: #de0000;
}
.labelmember {
	display: block;
	margin-top: 0.5em;
	font-family: 'Graphik-Bold', sans-serif;
	font-size: 1.3em;
	/*line-height: 1em;*/
	color: #000;
}
.datatext p {
	font-size: 0.9em;
	color: #000;
}
.openfill {
	fill-opacity: 0.3;
}
.labelborough text {
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 0.13em;
	text-transform: uppercase;
	letter-spacing: 0.25px;
	text-anchor: middle;
}
.labelbp {
	-webkit-transform: rotate(-90deg) translate(-244.75px, 5.5px);
	-moz-transform: rotate(-90deg) translate(-244.75px, 5.5px);
	-ms-transform: rotate(-90deg) translate(-244.75px, 5.5px);
	transform: rotate(-90deg) translate(-244.75px, 5.5px);
}
.labelinvert {
	fill: #d1d3d4;
}
#text-animation {
	position: absolute;
	width: auto;
	height: auto;
	top: 41%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	font-family: 'Graphik-Semibold', sans-serif;
	font-size: 1.5em;
	padding: 10px;
	color: #fff;
	background: #000;
	z-index: 2;
}
#skip:hover {
	cursor: pointer;
	opacity: 0.3;
}
#fastforward {
	height: 0.8em;
	width: auto;
}

/*very wide screen ratio*/
@media screen and (min-aspect-ratio: 2/1) {
	#sidebar-count {
		width: 260px;
	}
	#sidebar-next {
		width: calc(100vw - 380px - 13/14.5 * (100vh - 60px));
		max-width: 450px;
	}
}
@media screen and (min-aspect-ratio: 2/1) and (min-width: 1300px) {
	#sidebar-count {
		padding: 0px calc(25vw - 170px - 13/14.5 * (25vh - 15px));
	}
	#sidebar-next {
		margin-left: calc(25vw - 170px - 13/14.5 * (25vh - 15px));
	}
}
@media screen and (min-aspect-ratio: 2/1) and (max-width: 1080px) {
	#sidebar-count {
		width: 175px;
		top: calc(100vh - 320px);
	}
	#sidebar-next {
		width: calc(100vw - 305px - 13/14.5 * (100vh - 60px));
	}
}
@media screen and (min-aspect-ratio: 2/1) and (max-width: 950px) {
	#sidebar-count {
		width: 175px;
		top: calc(100vh - 320px);
	}
	#sidebar-next {
		width: calc(100vw - 295px - 13/14.5 * (100vh - 60px));
	}
	#shape-box {
		min-width: 100px;
	}
}

/*wide screen ratio*/
@media screen and (min-aspect-ratio: 16/9) and (max-aspect-ratio: 2/1) {
	#sidebar-count {
		width: 175px;
		top: calc(100vh - 320px);
	}
	#sidebar-next {
		width: calc(100vw - 295px - 13/14.5 * (100vh - 60px));
	}
	#shape-box {
		min-width: 100px;
	}
}
@media screen and (min-aspect-ratio: 16/9) and (max-aspect-ratio: 2/1) and (min-width: 1270px) {
	#sidebar-count {
		width: 260px;
	}
	#sidebar-next {
		width: calc(100vw - 380px - 13/14.5 * (100vh - 60px));
		max-width: 450px;
		min-width: 310px;
	}
}

/*typical landscape screen ratio*/
@media screen and (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9) {
	#sidebar-count {
		width: 175px;
		top: calc(100vh - 320px);
	}
	#sidebar-next {
		width: calc(100vw - 295px - 13/14.5 * (100vh - 60px));
	}
	#shape-box {
		min-width: 100px;
	}
}
@media screen and (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9) and (min-width: 1450px) {
	#sidebar-count {
		width: 260px;
	}
	#sidebar-next {
		width: calc(100vw - 380px - 13/14.5 * (100vh - 60px));
		max-width: 450px;
		min-width: 310px;
	}
}
@media screen and (max-width: 1060px) and (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9) {
	#sidebar-count {
		position: absolute;
		top: 16px;
		right: 0px;
		width: calc(96% - 13/14.5 * (100vh - 46px));
		min-width: 310px;
	}
	#sidebar-next {
		position: absolute;
		top: 180px;
		right: 0px;
		margin: 0px;
		width: calc(96% - 13/14.5 * (100vh - 46px));
		min-width: 310px;
		height: calc(100vh - 235px);
		padding: 0px 30px;
	}
	.seats-count-box {
		float: left;
		width: 50%;
	}
}
@media screen and (min-aspect-ratio: 3/2) and (max-width: 900px) {
	.seats-count-box {
		font-size: 0.8em;
	}
	#skip {
		font-size: 1em;
	}
}

/*narrow landscape screen ratio*/
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 3/2) {
	#map-cartogram {
		max-width: calc(100% - 360px)
	}
	#sidebar-count {
		position: absolute;
		top: 16px;
		right: 0px;
		width: calc(96% - 13/14.5 * (100vh - 46px));
		min-width: 310px;
	}
	#sidebar-next {
		position: absolute;
		top: 180px;
		right: 0px;
		margin: 0px;
		width: calc(96% - 13/14.5 * (100vh - 46px));
		min-width: 310px;
		height: calc(100vh - 235px);
		padding: 0px 30px;
	}
	.seats-count-box {
		float: left;
		width: 50%;
	}
}
@media screen and (min-aspect-ratio: 5/4) and (max-aspect-ratio: 3/2) and (max-width: 1200px) {
	.seats-count-box {
		font-size: 0.8em;
	}
	#skip {
		font-size: 1em;
	}
}
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 5/4) {
	.seats-count-box {
		font-size: 0.8em;
	}
	#skip {
		font-size: 1em;
	}
}

/*portrait screen ratio*/
@media screen and (max-aspect-ratio: 1/1) {
	#map-cartogram {
		float: none;
		width: calc(13/14.5 * (60vh - 60px));
		height: calc(60vh - 60px);
		max-width: none;
		margin: 0px auto;
	}
	#sidebar-count {
		float: none;
		position: absolute;
		top: calc(60vh - 46px);
		width: 260px;
		margin: 20px 0px 0px calc(50% - 335px);
	}
	#sidebar-next {
		float: none;
		position: absolute;
		top: calc(60vh - 46px - 20px);
		left: 310px;
		width: 310px;
		height: 39vh;
		margin: 20px 0px 0px calc(50% - 335px);
	}
}
@media screen and (max-aspect-ratio: 1/1) and (min-width: 580px) and (max-width: 659px) {
	#sidebar-count {
		width: 175px;
		margin-left: calc(50% - 290px);
	}
	#sidebar-next {
		left: 225px;
		margin-left: calc(50% - 290px);
	}
}
@media screen and (max-aspect-ratio: 1/1) and (min-width: 490px) and (max-width: 579px) {
	#sidebar-count {
		width: 175px;
		margin-left: 0px;
	}
	#sidebar-next {
		width: calc(100% - 275px);
		min-width: 190px;
		margin-left: 0px;
		left: 230px;
	}
	#next-shapes {
		grid-template-columns: 50% 50%;
	}
}
@media screen and (max-aspect-ratio: 1/1) and (max-width: 489px) {
	#sidebar-count {
		width: 135px;
		margin: 0px;
	}
	.open-toggle {
		float: none;
		width: calc(100% - 20px);
		margin: 0px;
	}
	#sidebar-next {
		left: 195px;
		margin-left: 0px;
		width: calc(100% - 240px);
		min-width: 130px;
	}
	#next-shapes {
		grid-template-columns: 50% 50%;
	}
	.shape {
		width: 50%;
	}
	.seats-count-box {
		font-size: 0.8em;
	}
	#skip {
		font-size: 1em;
	}
}

/*header style*/
#nav {
	display: none;
}

@media print,
screen and (min-width: 64em) {
	#project-title {
		min-width: 614px;
	}

	#seats-main {
		height: calc(100vh - 72px);
		top: 72px;
	}

	#map-cartogram {
		width: calc(13/14.5 * (100vh - 72px));
		height: calc(100vh - 72px);
	}
}

@media print,
screen and (max-width: 64em) {
	header {
		height: 58px;
		min-width: 350px;
	}

	#project-title {
		width: 100%;
	}

	#project-description {
		width: 50vw;
		max-height: calc(100vh - 100px);
	}
}

@media print,
screen and (max-width: 505px) {
	#project-title {
		min-width: 375px;
	}

	.h3 {
		line-height: 20px;
		margin-top: -2px;
	}

	#project-description {
		width: calc(100vw - 32px);
	}
}