#seats-main {
	height: calc(100vh - 46px);
	top: 46px;
}
#sidebar-count {
	position: relative;
	float: left;
	top: calc(100vh - 300px);
	width: 170px;
	min-width: 170px;
	padding: 0px 30px;
	text-align: left;
}
#map-cartogram {
	position: relative;
	float: left;
	width: calc(13/14.5 * (100vh - 46px));
	max-width: calc(100% - 570px);
	height: calc(100vh - 46px);
	overflow: hidden;
}
#open-seats-map {
	position: absolute;
	width: 100%;
	height: auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
#seats-footer {
	position: absolute;
	left: -3px;
	bottom: -3px;
	width: 100%;
	height: calc(1/15 * 100vh);
	background: #fff;
	border: solid 3px #000;
}
#seats-title {
	position: relative;
	display: inline-block;
	float: left;
	text-align: left;
	margin: 0px;
	padding: 2vh 20px;
}
.open-toggle {
	position: relative;
	display: inline-block;
	float: left;
	height: auto;
	width: calc(50% - 16px);
	margin-bottom: 15px;
	padding: 10px 5px;
	font-family: 'Graphik-Medium', sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	text-align: center;
	border: solid 3px #000;
}
.open-toggle:hover {
	cursor: pointer;
}
#current-seats {
	color: #fff;
	background: #000;
}
#open-seats {
	left: -3px;
	color: #000;
	background: #fff;
}
#sidebar-next {
	position: relative;
	float: left;
	width: 310px;
	min-width: 310px;
	height: calc(100% - 10px);
	margin: 10px 0px 0px 30px;
	text-align: left;
}
#next-shapes {
	position: relative;
	width: 100%;
	height: calc(100% - 60px);
	padding-right: 20px;
	display: grid;
	grid-template-columns: 33% 33% 33%;
	grid-column-gap: 3%;
	grid-row-gap: 0px;
	overflow: hidden auto;
}
.shape-box {
	position: relative;
	float: left;
	min-width: 100px;
	max-width: 142px;
}
.shape {
	width: 70%;
	height: auto;
	margin-bottom: 10px;
}
.shape-name {
	display: block;
	font-family: 'Graphik-Semibold', sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	min-height: 28px;
}
#compt {
	word-break: break-all;
}
#tooltip {
	position: absolute;
	margin: 0;
	padding: 10px;
	background: #fff;
	border: solid 2px #000;
	min-height: 170px;
	width: 400px;
}
.dataphoto {
	position: relative;
	min-height: 150px;
	width: 100px;
	float: left;
	overflow: hidden;
	margin: 10px;
}
.dataphoto img {
	position: absolute;
	height: 100%;
	width: auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.datatext {
	position: relative;
	display: block;
	margin: 10px 10px 10px 130px;
}
.labeldistrict {
	font-family: 'Graphik-Semibold', sans-serif;
	font-size: 1em;
}
.dataparty {
	height: 0.8em;
	width: 0.8em;
	margin: 0px 5px 0px 10px;
}
.Democratic {
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 0.9em;
	color: #1404bd;
}
.Republican {
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 0.9em;
	color: #de0000;
}
.labelmember {
	font-family: 'Graphik-Bold', sans-serif;
	font-size: 1.3em;
	line-height: 1.5em;
	color: #000;
}
.datatext p {
	font-size: 0.9em;
	color: #000;
}
.openfill {
	fill-opacity: 0.3;
}
.labelborough text {
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 0.15em;
	text-transform: uppercase;
	letter-spacing: 0.25px;
	text-anchor: middle;
}
.labelbp {
	-webkit-transform: rotate(-90deg) translate(-244.75px, 5.5px);
	-moz-transform: rotate(-90deg) translate(-244.75px, 5.5px);
	-ms-transform: rotate(-90deg) translate(-244.75px, 5.5px);
	transform: rotate(-90deg) translate(-244.75px, 5.5px);
}
.labelinvert {
	fill: #aaa;
}
#text-animation {
	position: absolute;
	width: 100%;
	height: auto;
	top: 41%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: 'Graphik-Semibold', sans-serif;
	font-size: 1.5em;
	z-index: 10;
}
#skip:hover {
	cursor: pointer;
	opacity: 0.3;
}
#fastforward {
	height: 0.8em;
	width: auto;
}

/*wide screen ratio*/
@media screen and (min-width: 1229px) and (min-aspect-ratio: 16/9) {
	#map-cartogram {
		max-width: calc(100% - 620px);
	}
	#sidebar-count {
		min-width: 260px;
	}
}
@media screen and (min-width: 1302px) and (min-aspect-ratio: 16/9) {
	#map-cartogram {
		max-width: calc(100% - 730px);
	}
	#sidebar-count {
		min-width: 260px;
	}
	#sidebar-next {
		min-width: 380px;
	}
}
/*wide landscape screen ratio*/
@media screen and (min-width: 1302px) and (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9) {
	#map-cartogram {
		max-width: calc(100% - 670px);
	}
	#sidebar-count {
		min-width: 260px;
	}
}
/*typical landscape screen ratio*/
@media screen and (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9) {

}
/*narrower screen ratio*/
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 3/2) {
	#map-cartogram {
		max-width: calc(100vw - 360px);
	}
	#sidebar-count {
		position: absolute;
		top: 10px;
		right: 0px;
		width: calc(96% - 13/14.5 * (100vh - 46px));
		min-width: 310px;
	}
	#sidebar-next {
		position: absolute;
		top: 250px;
		right: 0px;
		margin: 0px;
		width: calc(96% - 13/14.5 * (100vh - 46px));
		min-width: 310px;
		height: calc(100vh - 290px);
		padding: 0px 30px;
	}
}
/*narrow or portrait screen ratio*/
@media screen and (max-aspect-ratio: 1/1) {
	#map-cartogram {
		float: none;
		width: calc(13/14.5 * (60vh - 46px));
		height: calc(60vh - 46px);
		max-width: none;
		margin: 0px auto;
	}
	#sidebar-count {
		float: none;
		position: absolute;
		top: calc(60vh - 46px);
		width: 260px;
		margin: 20px 0px 0px calc(50% - 335px);
	}
	#sidebar-next {
		float: none;
		position: absolute;
		top: calc(60vh - 46px - 20px);
		left: 310px;
		width: 310px;
		height: 40vh;
		margin: 20px 0px 0px calc(50% - 335px);
	}
}

@media screen and (min-width: 1302px) {
}
@media screen and (min-width: 1229px) and (max-width: 1301px) {
}
@media screen and (min-width: 980px) and (max-width: 1228px) {
}
@media screen and (max-width: 979px) {
	#project-title {
		min-width: 453px;
	}
	#h-description {
		top: -44px;
	}
	#nav {
		display: none;
	}
}