#seats-main {
	min-height: 682px;
	display: flex;
}
#sidebar-count {
	position: relative;
	float: left;
	width: 12vw;
	top: 65vh;
	width: 12vw;
	padding: 0px 2.5vw;
	text-align: left;
}
#map-cartogram {
	position: relative;
	float: left;
	width: calc(13/15.5 * 100vh - 6px);
	height: calc(100vh - 6px);
	min-height: 700px;
	min-width: 572px;
	overflow: hidden;
	border: solid 3px #000;
}
#open-seats-map {
	position: absolute;
	width: 100%;
	height: auto;
	bottom: calc(0.5/15 * 100vh - 1px);
}
#seats-footer {
	position: absolute;
	left: -3px;
	bottom: -3px;
	width: 100%;
	height: calc(1/15 * 100vh);
	background: #fff;
	border: solid 3px #000;
}
#seats-title {
	position: relative;
	display: inline-block;
	float: left;
	text-align: left;
	margin: 0px;
	padding: 2vh 20px;
}
#open-seats {
	position: absolute;
	display: inline-block;
	float: right;
	height: 100%;
	width: calc(3/13 * 100% - 7px);
	right: 0px;
	padding: 1vh 30px;
	font-family: 'Graphik-Medium', sans-serif;
	color: #000;
	background: #fff;
	border-left: solid 3px #000;
}
#sidebar-next {
	position: relative;
	float: left;
	width:  24vw;
	top: 20px;
	width: 25vw;
	padding-left: 6vw;
	text-align: left;
}
#next-shapes {
	position: relative;
	width: 100%;
	height: auto;
}
.shape-box {
	position: relative;
	float: left;
	width: 28%;
	height: auto;
	margin-right: 5%;
}
.shape {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.shape-name {
	display: block;
	font-family: 'Graphik-Semibold', sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
	min-height: 28px;
}
#bx2 {
	margin-right: 38%;
}
#bp, #compt, #mayor {
	margin-top: 20px;
}
#tooltip {
	position: absolute;
	margin: 0;
	padding: 10px;
	background: #fff;
	border: solid 2px #000;
	min-height: 170px;
	width: 400px;
}
.dataphoto {
	position: relative;
	min-height: 150px;
	width: 100px;
	float: left;
	overflow: hidden;
	margin: 10px;
}
.dataphoto img {
	position: absolute;
	height: 100%;
	width: auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.datatext {
	position: relative;
	display: block;
	margin: 10px 10px 10px 130px;
}
.labeldistrict {
	font-family: 'Graphik-Semibold', sans-serif;
	font-size: 1em;
}
.dataparty {
	height: 0.8em;
	width: 0.8em;
	margin-left: 10px;
}
.labelmember {
	font-family: 'Graphik-Bold', sans-serif;
	font-size: 1.3em;
	line-height: 1.5em;
	color: #000;
}
.datatext p {
	font-size: 0.9em;
	color: #000;
}
.openfill {
	fill-opacity: 0.3;
}
.labelborough text {
	font-family: 'Graphik-Medium', sans-serif;
	font-size: 0.15em;
	text-transform: uppercase;
	letter-spacing: 0.25px;
	text-anchor: middle;
}
.labelbp {
	-webkit-transform-origin: 96.3% 79.5%;
	-ms-transform-origin: 96.3% 79.5%;
	transform-origin: 96.3% 79.5%;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.labelinvert {
	fill: #aaa;
}
/*wide screen ratio*/
@media (min-aspect-ratio: 16/9) {
	#sidebar-count {
		width: 16vw;
	}
	#sidebar-next {
		width: 25vw;
		padding-left: 6vw;
		min-height: 540px;
	}
	.shape-box {
		width: 20%;
		height: auto;
		margin-right: 13%;
	}
}
/*typical landscape screen ratio*/
@media screen and (min-aspect-ratio: 3/2) and (max-aspect-ratio: 16/9) {
	#sidebar-count {
		width: 12vw;
		padding: 0px 2.5vw;
	}
	#sidebar-next {
		width: 25vw;
		padding-left: 4vw;
	}
	#next-shapes {
		max-width: 360px;
	}
	.shape-box {
		width: 25%;
		height: auto;
		margin-right: 7%;
	}
}
/*narrower screen ratio*/
@media screen and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 3/2) {
	#sidebar-count {
		width: 12vw;
		padding: 0px 2vw;
	}
	#sidebar-next {
		width:  25vw;
		padding-left: 3vw;
	}
}
/*narrow or portrait screen ratio*/
@media screen and (max-aspect-ratio: 4/3) {
	#sidebar-count {
		position: absolute;
		top: 0px;
		margin: 0px calc(83.87vh + 2vw);
		width:  calc(96vw - 83.87vh);
		padding: 0px;
	}
	#map-cartogram {
		margin: 0px 5vw 0px 0px;
	}
	#sidebar-next {
		position: absolute;
		top: 170px;
		margin: 0px calc(83.87vh + 2vw);
		width: calc(96vw - 83.87vh);
		min-width: 303px;
		padding: 0px;
	}
	.shape-box {
		width: 28%;
		height: auto;
	}
	.shape {
		width: auto;
		height: 8vh;
	}
	.h3 {
		font-size: 1em;
	}
	.data1 {
		font-size: 2.5em;
	}
	#compt {
		overflow-wrap: break-word;
		-webkit-hyphens: auto;
  		-ms-hyphens: auto;
		hyphens: auto;
	}
}